#content {
    padding: 0px;
}
.panel {
    padding: 0px 11px;
    border-radius: 1px;
    border-top: 4px #e7eaec solid;
    background-color: white;
    margin-top: -17px;
}
.panel header{
    border-bottom: 1px #f3f3f4 solid;
    padding: 10px 20px;
}
.navbar {
    padding: 5px 11px;
}

.page_title {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
}

.form-group h6 {
    font-size: 14px;
    color: #0d6a96;
}
